---
layout: dataset_show
title: PetalData Blog
toc_title: Blog
logo_file: petaldata_logo.png
order: 5
---
{% include jumbotron.html %}

{% for post in site.posts %}
  <div class="article">
    <a href="{{ post.url }}">
    <table class="author">
          <tr>
            <td>
              <img src="/images/blog/derek_haynes.jpg" />
            </td>
            <td>
              <div class="subtitle">{{ post.author }}</div>
              <div class="small">{{ post.date | date_to_string }}</div>
            </td>
          </tr>
        </table>

    <p>{{ post.excerpt }}</p>
    <h3>{{ post.title }}</h3>
  </a>
  </div>
{% endfor %}
