<div id="mailchimp_container">
  <h6>Email Newsletter</h6>
  <p class="small">
    Tutorials on using data science with your cloud app data, in your inbox. No marketing campaigns. No nonsense. Unsubscribe anytime.
  </p>
  <div id="mc_embed_signup">
    <form action="https://gmail.us20.list-manage.com/subscribe/post?u=4bf43ca15be17a5770ac17419&amp;id=19e392e615" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email Address">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4bf43ca15be17a5770ac17419_19e392e615" tabindex="-1" value=""></div>
    </form>
  </div>
</div>