<div class="mailchimp_header_container">
  <div class="container">
  <div class="row">
    <div class="col"><h3>Signup for BETA access</h3></div>
  </div>
</div>
</div>
<div class="mailchimp_container">
<div class="container">
  <div class="row">
      <div class="col">

  <div id="mc_embed_signup">
    <form action="https://gmail.us20.list-manage.com/subscribe/post?u=4bf43ca15be17a5770ac17419&amp;id=19e392e615" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      
      <div class="row">
        <div class="col-3">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email Address">
        </div>

        <div class="col-auto">
          <select name="SOURCE" class="required form-control" id="mce-SOURCE">
  <option value="">Most important source?</option>
  <option value="Intercom">Intercom</option>
<option value="Salesforce">Salesforce</option>
<option value="Stripe">Stripe</option>
<option value="Google Analytics">Google Analytics</option>
<option value="Gmail">Gmail</option>
<option value="Google Ads">Google Ads</option>
<option value="Facebook Ads">Facebook Ads</option>
<option value="Hubspot">Hubspot</option>
<option value="Zendesk">Zendesk</option>
<option value="Other">Other</option>

  </select>
        </div>

        <div class="col-auto">
          <!-- TODO - add merge field for source -->
          <select name="DEST" class="form-control" id="mce-DEST">
          <option value="">Most important destination?</option>
          <option value="Pandas Dataframe">Pandas Dataframe</option>
<option value="R Dataframe">R Dataframe</option>
<option value="CSV">CSV</option>
<option value="Google Sheet">Google Sheet</option>
<option value="Excel">Excel</option>
<option value="SQL Database">SQL Database</option>
<option value="Other">Other</option>
          </select>
        </div>

        <div class="col-auto">
          <input type="submit" value="BETA Signup" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg">
        </div>

      </div>

      <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4bf43ca15be17a5770ac17419_19e392e615" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->

  </div></div>
</div> <!-- container -->
</div>